.col-xs-4, .col-xs-5, .col-xs-7 {
    padding: 0;
}

h1 {
    padding-left: 15px;
}
i {
    padding-right: 5px;
}
.return {
    border: 1px solid;
    text-align: center;
    width: 100%;
}
.return a {
    display: block;
    padding: 5px 0;
    text-decoration: none;
}
.return a:active,
.return a:link,
.return a:visited {
    color: dodgerblue;
}
.return a:hover {
    color: deepskyblue;
}

/* ------------------- 
    特性
--------------------- */

.special h2 {
    font-size: 16px;
}
/* ------------------- 
    END 特性
--------------------- */


/* ------------------- 
    タイプ
--------------------- */
.type {
    width: auto;
}
.type ul {
    margin-top: 15px;
}
.type ul li {
    border-radius: 10px;
    color: white;
    display: inline;
    font-size: 18px;
    list-style: none;
    padding: 2px 10px;
}
.type ul li:not(:first-child) {
    margin-top: 2px;
}

/*色情報*/
.normal {
    color: black;
    background-color: white;
}
.flame {
    background-color: red;
}
.water {
    background-color: blue;
}
.elect {
    background-color: yellow;
}
.grass {
    background-color: green;
}
.ice {
    background-color: skyblue;
}
.poison {
    background-color: purple;
}
.ground {
    background-color: tan;
}
.flight {
    background-color: #80c4ff;
}
.psi {
    background-color: pink;
}
.insect {
    background-color: darkkhaki;
}
.rock {
    background-color: brown;
}
.ghost {
    background-color: navy;
}
.dragon {
    background-color: royalblue;
}
.evil {
    color: white;
    background-color: black;
}
.steel {
    background-color: silver;
}
.fairy {
    background-color: pink;
}


/* ------------------- 
    END タイプ
--------------------- */


/* ------------------- 
    メガシンカ
--------------------- */
.mega {
    text-align: center;
}
.mega a {
	display: block;
	padding: 5px 0;
	text-decoration: none;
}
/* ------------------- 
    END メガシンカ
--------------------- */


/* -------------------
	ポケモン情報
--------------------- */
.info {
	margin-top: 15px;
}
/* -------------------
	END ポケモン情報
--------------------- */


/* ------------------- 
    画像
--------------------- */
.img {
	text-align: center;
}
/* ------------------- 
    END 画像
--------------------- */


/* ------------------- 
    種族地表
--------------------- */
.ability {
}
.ability table {
	height: 200px;
    width 500px;
}
.ability th,
.ability td {
    text-align: center;
    width: 100px;
}
.ability meter {
    width: 300px;
}
#ha {
    color: orange;
}
/* ------------------- 
    END 種族地表
--------------------- */


/*-------------------- 
	特性表
--------------------- */
.special {
}
.special ul {
	list-style: none;
}
.special li {
	display: inline-block;
}
/*-------------------- 
	END 特性表
--------------------- */


/* ------------------- 
    弱点表
--------------------- */
.week {
    border: 1px solid black;
    margin: 10px 0;
    text-align: center;
    width: 100%;
}
.week a {
    display: block;
    font-size: 16px;
    padding: 10px 0;
    text-decoration: none;
    width: 100%;
}
.week ul li {
	list-style: none;
}
.week .first {
	float: left;
}
.week ul .week_details {
	width: 100%;
}
/* ------------------- 
    END 弱点表
--------------------- */


/* ------------------- 
    進化表
--------------------- */
.advance {
	margin: 0 auto;
	width: auto;
}
.advance ul {
	padding-left: 0;
	text-align: center;
}
.advance li {
	font-size: 16px;
    list-style: none;
}
/* ------------------- 
    END 進化表
--------------------- */


/* XXXXXXXXXXXXXXXXXXXX
    スマホ規格デザイン
XXXXXXXXXXXXXXXXXXXXXX */
@media screen and (max-width: 768px) {

/* ヘッダー(ポケモン名/タイプ表示) */
.container .name,
.container .type {
    height: 52px;
}
    
/* ------------------- 
    ポケモン名
--------------------- */
.name h1 {
    font-size: 24px;
    margin-top: 15px;
}
/* ------------------- 
    END ポケモン名
--------------------- */


/* ------------------- 
    タイプ
--------------------- */
.type {
    width: auto;
}
.type ul {
    display: block;
    margin-top: 5px;
    padding-left: 0;
    text-align: center;
}
.type ul li {
    display: block;
    font-size: 16px;
    text-align: center;
    width: 100px;
}

/* ------------------- 
    END タイプ
--------------------- */

    
/* ------------------- 
    画像
--------------------- */
/* ------------------- 
    END 画像
--------------------- */
    
    
/* ------------------- 
    能力
--------------------- */
.ability {
    float: right;
}
.ability table {
    font-size: 16px;
    width: 100%;
}
.ability table th,
.ability table td {
    padding: 3px 0;
}
.ability table th {
    text-align: left;
    width: 35px;
}
.ability table td {
	width: 35px;
}
.ability table td .font {
	padding: 0 10px;
}
.ability meter {
    width: 100%;
}
/* ------------------- 
    END 能力
--------------------- */
    
    
/* ------------------- 
    特性
--------------------- */
.special {
}
.special h2 {
    padding-left: 10px;
}
.special ul {
    padding-left: 5px;
}
/* ------------------- 
    END 特性
--------------------- */
    
    
/* ------------------- 
    弱点表
--------------------- */
.week {
    clear: both;
}
/* ------------------- 
    END 弱点表
--------------------- */
    